body {
    background-color: rgb(255, 231, 179)
}

.jumbotron {
    background: rgb(248, 218, 133);
    color: rgb(0, 0, 0);
    border-radius: 60px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 50px;
    
    
}
textarea,
input {
    display: block;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

input {
    height: 36px;
    font-size: 24px;
}

textarea {
    height: 200px;
    font-size: 18px;
} 